/**
 * Description: Stylesheet for calendar.html.
 * Version: 2.0.0
 * Last update: 2017/08/09
 * Author: Akash Payne <akashpayne@gmail.com>
 *
 * Summary:
 *
 * A simple calendar display built in javascript.
 */
html,
body 
{
	font-weight: 300;
	font-family: sans-serif;
    
}

/**
 * Calendar Styling
 */
.calendar 
{
    width: 400px;
	font-size: 20px;
    
}
.calendar-top-panel 
{
    
}

.calendar-bottom-panel 
{
    background-color: #ffffff;
    height: 235px;
}
.calendar-bottom-panel .header 
{
    padding: 20px 20px 8px;
	font-weight: bold;
    text-align: center;
}
.calendar-bottom-panel .calendar-wrapper 
{
    font-size: 14px;
    font-weight: bold;
}

/**
 * Button styling
 */

#p {
  
}
#n {

}

/**
 * Calendar frame styling
 */
#calendar-frame {
    text-align: center;
    border-collapse: collapse;
    color: #6e6e6e;
}
#calendar-frame tr td {
    padding: 5px;
}
#calendar-frame tr td:not(:first-child):last-child {
    border: 0;
}
#calendar-frame tr td:hover {

}
#calendar-frame tr td.todayDate {
    background-color: #7a7a7a;
}
#calendar-frame tr td.selected {
    background-color: #4285f4;
}